body { 
	font: 10pt georgia; 
	color: #555753; 
	margin: 0px; 
	}
p { 
	font: 10pt georgia; /*8pt/16pt*/
	margin-top: 0px; 
	text-align: justify;
	}
h3 { 
	font: italic normal 12pt georgia; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #988F5E;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #988F5E;
	}

	a:hover, a:active { 
	text-decoration: underline; 
	color: #988F5E;
	}


/* specific divs */
#container { 
	padding: 0px 225px 0px 25px;  
	margin: 50px; 
	border: 1px solid #888888;
	background: #F7F7F7;
	}

#intro { 
	min-width: 470px;
	}
	
#pageHeader { 
	 margin-bottom: 20px;
}


#pageHeader h1 { 
	font: 28pt georgia;
	margin-top: 20px;
/*	width: 573px; 
	height: 71px; */ 
	float: left;
	}

/* #pageHeader h1 span {
	display:none
	} */

#pageHeader h2 { 
/*	margin-top: 58px; */
/*	margin-bottom: 40px; */
/*	width: 573px; 
	height: 71px; */
	float: right;
	}

#pageHeader h2 span {
	display:none;
	}

#preamble h3 span {
background: transparent url(/web/20120206041251/http://plus.sarovar.org/title.gif) no-repeat top left; 
padding-left:25px;
padding-right:75px;
width: 300px;
border-bottom: 1px solid #888888 ;
font-style: normal;
font-weight: bold;
color: #444444;
}

#logo {
float : right;
padding-right:59px;
padding-top:8px;
}


#supportingText h3 span {
background: transparent url(/web/20120206041251/http://plus.sarovar.org/title.gif) no-repeat top left; 
padding-left:25px;
padding-right:75px;
width: 300px;
border-bottom: 1px solid #888888 ;
font-style: normal;
font-weight: bold;
color: #444444;
}
	
#quickSummary {
	background: white;
	clear:both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	padding : 20px;
	/*border: 1px dashed #888888;*/
	}
#quickSummary p {
	font: italic 16pt/22pt georgia; 
	text-align:center;
	}

#preamble {
	clear: right; 
	padding: 0px 10px 0px 10px;
	/*border-top: 1px solid #888888;*/
	}
#supportingText {
	padding-left: 10px; 
	margin-bottom: 40px;
	}

#footer { 
	text-align: center; 
	}
#footer a:link, #footer a:visited { 
	margin-right: 20px; 
	}

#linkList {
	border:1px;
	width:240px;
	margin-left:600px;
	position: absolute; 
	top: 70px; 
	right: 2px;
	}
#linkList2 { 
	background:white;
	font: 10px verdana, sans-serif; 
	padding: 10px; 
	margin-top: 150px; 
	width: 160px; 
	border-left: 1px solid #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	border-right: 1px solid #888888;
        }
#linkList h3.select { 
	margin: 10px 0px 5px 0px; 
	width: 150px; 
	height: 15px; 
	color: #444444;
	font: 10px verdana, sans-serif; 
	font-weight: bold;
	border-bottom: 1px solid #888888;
	}
#linkList h3.select span {
	display: block;
	}
#linkList h3.favorites { 
	margin: 25px 0px 5px 0px; 
	width: 150px; 
	height: 15px; 
	color: #444444;
	font: 10px verdana, sans-serif; 
	font-weight: bold;
	border-bottom: 1px solid #888888;
	}
#linkList h3.favorites span {
	display:block;
	}
#linkList h3.archives { 
	margin: 25px 0px 5px 0px; 
	width: 150px; 
	height: 15px; 
	color: #444444;
	font: 10px verdana, sans-serif; 
	font-weight: bold;
	border-bottom: 1px solid #888888;
	}
#linkList h3.archives span {
	display:block;
	}
#linkList h3.resources { 
	margin: 25px 0px 5px 0px; 
	width: 150px; 
	height: 15px; 
	color: #444444;
	font: 10px verdana, sans-serif; 
	font-weight: bold;
	border-bottom: 1px solid #888888;
	}
#linkList h3.resources span {
	display:block
	}


#linkList ul {
	margin: 0px;
	padding: 0px;
	}
#linkList li {
	line-height: 2.5ex; 
	list-style-type: none;
	border: 1px dashed #888888;
	/* border: 1px solid #888888; */
	display: block; 
	padding: 4px; 
	margin-bottom: 5px;
	background-color:#F7F7F7;
	}

#linkList li:hover {
	line-height: 2.5ex; 
	list-style-type: none;
	background-color: #DEE2B3; 
	border: 1px solid #888888;
	display: block; 
	padding: 4px; 
	margin-bottom: 5px;
}
	
#linkList li a:link { 
	color: #988F5E;
	}
#linkList li a:visited {
	color: #988F5E;
	}
